[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "mirrorsaliyun"

[packages]
xlrd = {version = "*", index = "mirrorsaliyun"}
pygame = {version = "*", index = "mirrorsaliyun"}
pandas = {version = "*", index = "mirrorsaliyun"}
openpyxl = {version = "*", index = "mirrorsaliyun"}

[dev-packages]

[requires]
python_version = "3.10"
